doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="description", content="")
        meta(author="", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="icon", type="image/png", href="images/favicon.png")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatica+SC" type="text/css")

        title Siddharth Shashikar
    body

        header.back-box
            h1#name(onmouseover="change()" onmouseout="back()") Siddharth Shashikar
            
            h4 Developer Designer Doodler

        section.content

            h2 About Myself

            div.aboutme
                div.item
                    img(src="images/reading.png")
                div.item
                    img(src="images/code.png")
                div.item.face
                    img(src="images/face.jpg")
                div.item
                    img(src="images/paint-palette.png")
                div.item
                    img(src="images/football.png")
                    
        
        section.back-box
            h2 Contact

            div#block

            h3 siddharth.shashikar@niituniversity.in

            div.aboutme.contactme
                div.item
                    a  
                        img(src="images/facebook.png")
                div.item
                    a
                        img(src="images/linkedin.png")
                div.item
                    a
                        img(src="images/twitter.png")
                div.item
                    a
                        img(src="images/pinterest.png")
                div.item
                    a
                        img(src="images/github.png")
                div.item
                    a
                        img(src="images/google-plus.png")

        script(src="js/jquery-2.1.3.min.js")
        script(src="js/functions.js")